        <div class="resultsWidget"> 
            <h4 style="padding:0">RESULTS</h4>
            <% @games.each do |s| %>
                <% if (s.home_team_id == "8" || s.away_team_id == "8") %>
            <div class="smallAssistName" style="clear:left;border-right:1px solid black">
                    <%= s.played_at.strftime("%F") %>
            </div>
            <div class="smallAssistName">
                    <%= s.home_team.name.upcase %>
            </div>
            <div class="smallAssistNumber">
                    <%= s.home_score %>
            </div>
            <div class="smallAssistNumber">
                -
            </div>
            <div class="smallAssistNumber">
                    <%= s.away_score %>
            </div>
            <div class="smallAssistName">
                    <%= s.away_team.name.upcase %>
            </div>
                <% end %>
            <% end %>
        </div>

