<div class="rightPan scheduleContainer" style="color:white">
	<img src="assets/bar_logo_notext_transparent.png" style="background:none;width:200px;position:relative;float:left;margin:0;padding:0;border-radius:20px"/>
	<img src="assets/bar-2015-jan1.jpg" width="500" style="position:relative;float:left;margin:0;padding:0;border-radius:20px"/>
	<img src="assets/bar_logo_notext_transparent.png" style="width:200px;position:relative;float:left;margin:0;padding:0;border-radius:20px"/>
	<h2 style="clear:left;border-top:1px solid black">
		About
	</h2>
	<p class="story" style="margin-top:20px"> 
		FC Bar United is a competitive amateur arena soccer club. Founded in Campbell, California in 2005, the Bar currently competes in the South Bay's premier arena soccer league hosted by Off The Wall Soccer in Santa Clara.
		</br> 
		Bar United was formed by a group of soccer ( and beer ) enthusiasts who used to congregate at "The Bar", the social club that also lends its name to the football team. Years later, only memories remain of "The Bar" itself, but the Football Club is still firing on all cylinders, and has since found glory at the top level of Bay Area Soccer.
	</p> 
	<h2 style="clear:left;border-top:1px solid black">
		History - Foundation ( 2005 - 2008 ) 
	</h2>
	<p class="story" style="margin-top:20px"> 

	 	The first roster consisted of players coming from three continents and several countries, brought together by their love for the game. With an improvised roster, and a mix of seasoned veterans alongside players who had never played a competitive game before, the Bar managed to win its first match in the 3rd division. After a few disappointing seasons, the Bar finally managed to win the first divisional title in the fall of 2006. It would be the first of many.  
	</p>
	<h2 style="clear:left;border-top:1px solid black">
		New Faces and the Competitive Bar ( 2008 - 2012 )
	</h2>
	<p class="story" style="margin-top:20px"> 
		With limited success in the 2nd division, the Bar realized the need to expand the original roster. The team added a few competitive players, who allowed to Bar to power through the 2nd division, and get its first shot at 1st division soccer in 2008. The Bar came close to winning it all in 2009, and had a couple decent runs in the top division, highlighted by a 12-10 victory against Cachorros, the main feeder to Off The Wall Soccer's semi-pro team, Pacific Division winners of the PASL in winter 2012. In spite of the mostly positive results, injuries and other staffing problems caught up with the Bar, and the team fell apart temporarily, among financial problems and a heartbreaking loss of the top division title in the last game of the season at the hands of a non-direct competitor.
	</p>
	<h2 style="clear:left;border-top:1px solid black">
		Rebirth ( 2012 - present )
	</h2>
	<p class="story" style="margin-top:20px"> 
		The Bar found itself back in battle late 2012, after missing 5 months of competition. With a completely redisigned roster, a solid goalkeeper, and improved defence, the Bar found itself cruising in the 2nd division, crushing opponent after opponent for the first perfect season in history. After a few narrowly missed attempts at the top flight, the Bar finally managed to break the curse and win the 1st division in March 2015, just short of the 10 year anniversary, followed by a repeat in Summer 2016.
	</p>
	<div class="flags">
		<%= image_tag("flag_usa.png", class: "flagAbout") %>
		<%= image_tag("flag_bosnia.png", class: "flagAbout") %>
		<%= image_tag("flag_romania.png", class: "flagAbout") %>
		<%= image_tag("flag_argentina.png", class: "flagAbout") %>
		<%= image_tag("flag_germany.png", class: "flagAbout") %>
		<%= image_tag("flag_brazil.png", class: "flagAbout") %>
		<%= image_tag("flag_turkey.png", class: "flagAbout") %>
		<%= image_tag("flag_mexico.png", class: "flagAbout") %>
		<%= image_tag("flag_croatia.png", class: "flagAbout") %>
		<%= image_tag("flag_portugal.png", class: "flagAbout") %>
		<%= image_tag("flag_sweden.png", class: "flagAbout") %>
		<%= image_tag("flag_morocco.png", class: "flagAbout") %>
		<%= image_tag("flag_iran.png", class: "flagAbout") %>
		<%= image_tag("flag_serbia.png", class: "flagAbout") %>
		<%= image_tag("flag_egypt.png", class: "flagAbout") %>
		<%= image_tag("flag_new_zeeland.png", class: "flagAbout") %>
	</div>
	
</div>
