<div class="rightPan mainContainer" style="padding-right:0px;width:849px;border-top:none;">
	<div class="homeFeed" style="padding:0;overflow:hide">
		<iframe class="blogFrame" width="700" height="1000" src="https://fcbarunited.wordpress.com/" frameBorder="0" seamless='seamless'>
	</iframe>
	</div>
	<div class="widget">
		<h4>Form</h4>
		<div class="formItem">
			W
		</div>
		<div class="formItem">
			W	
		</div>
		<div class="formItem loss">
			L
		</div>
		<div class="formItem">
			W
		</div>
		<div class="formItem">
			W
		</div>
		<div class="formItemSmall">
			Dec</br>19	
		</div>
		<div class="formItemSmall">
			Jan</br>09	
		</div>
		<div class="formItemSmall loss">
			Jan</br>16	
		</div>
		<div class="formItemSmall">
			Jan</br>16	
		</div>
		<div class="formItemSmall">
			Jan</br>23	
		</div>
	</div>
	<div class="widget" style="color:black">
		<h4>Next Game</h4>
		<div class="nextGameDiv"> <%= @nextGame.away_team.name.upcase %> </div>
		<div class="nextGameDiv"> vs </div>
		<div class="nextGameDiv"> <%= @nextGame.home_team.name.upcase %> </div>
		<div class="nextGameDiv"> <%= @nextGame.played_at.strftime("%a, %b %d %H:%M") %> </div>
	</div>
	<div class="widget">
		<h4>Goals</h4>
		<div class="assistName">
			<b>Player</b>
		</div>
		<div class="assistNumber">
			<b>GPG<b>	
		</div>
		<div class="assistNumber">
			<b>TG</b>	
		</div>
		<% @goalRankings.compact.each do |x| %>
		<div class="assistName">
			<%= User.find(x[:id]).name %>
		</div>
		<div class="assistNumber">
			<%= x[:gpg] %>
		</div>
		<div class="assistNumber">
			<%= x[:goals] %>
		</div>
		<% end %>
	</div>
	<div class="widget">
		<h4>Assists</h4>
		<div class="assistName">
			<b>Player</b>
		</div>
		<div class="assistNumber">
			<b>APG<b>	
		</div>
		<div class="assistNumber">
			<b>TA</b>	
		</div>
		<% @assistRankings.compact.each do |x| %>
		<div class="assistName">
			<%= User.find(x[:id]).name %>
		</div>
		<div class="assistNumber">
			<%= x[:apg] %>
		</div>
		<div class="assistNumber">
			<%= x[:assists] %>
		</div>
		<% end %>

		
	</div>
	<div class="widget" style="width:922px;margin-left:-120px;">
		<h4>Standings</h4>
		<div class="standingsName">
		</div>
		<div class="standingsNumber">
			GP
		</div>
		<div class="standingsNumber">
			W
		</div>
		<div class="standingsNumber">
			T
		</div>
		<div class="standingsNumber">
			L
		</div>
		<div class="standingsNumber">
			GF	
		</div>
		<div class="standingsNumber">
			GA
		</div>
		<div class="standingsNumber">
			GD
		</div>
		<div class="standingsNumber">
			PTS
		</div>
		<!--% g = @a.compact.sort_by { |hsh| hsh[:gf]-hsh[:ga] || 0 } %-->
		<% b = @a.compact.sort_by { |hsh| [ hsh[:pts]|| 0 , hsh[:gf]-hsh[:ga] ] }.reverse %>
		<% b.each do |team|	%>
			<% if !(team.nil?) then %>
				<div class="standingsName">
					<% if team[:id] == 8 %>
						<b>
					<% end %>
						<%= Team.find(team[:id]).name %>
					<% if team[:id] == 8 %>
						</b>
					<% end %>
				</div>
				<div class="standingsNumber">
					<%= team[:gp]||0 %>
				</div>
				<div class="standingsNumber">
					<%= team[:w]||0 %>
				</div>
				<div class="standingsNumber">
					<%= team[:t]||0 %>
				</div>
				<div class="standingsNumber">
					<%= team[:l]||0 %>
				</div>
				<div class="standingsNumber">
					<%= team[:gf] %>
				</div>
				<div class="standingsNumber">
					<%= team[:ga] %>
				</div>
				<div class="standingsNumber">
					<%= team[:gf] - team[:ga] %>
				</div>
				<div class="standingsNumber standingsNumberPts">
					<%= team[:pts]||0 %>
				</div>
			<% end %>
		<% end %>
	</div>

</div>
