<div class="rightPan scheduleContainer">	
	<div class="scheduleHeader"> 
		FIXTURES & RESULTS - FC BAR UNITED 
	</div>
		<% @seasonEnd = ["2019-05-02","2019-03-07","2019-01-10","2018-11-08","2018-07-19","2018-05-24","2018-03-29","2018-02-01","2017-11-30","2017-10-5","2017-6-15","2017-04-20","2017-02-23","2016-12-29","2016-11-03","2016-09-01","2016-07-07","2016-05-12","2016-03-17","2016-01-22","2015-11-12","2015-09-17","2015-07-23","2015-05-28","2015-04-03","2015-02-05","2014-11-20","2014-10-2","2014-06-13","2014-04-17","2014-02-20","2013-12-13","2013-10-17","2013-8-22", "2013-6-27","2013-3-7","2013-1-10"]
			@seasonEnd.map! { |date| date.to_datetime }
		%>

	<div>
		<% @schedule.each do |a| %>

				<% if @seasonEnd.include?(a.played_at.to_date) && params[:id].nil? %>
					<div class="seasonDivider"></div>
				<% end %>

			<% if (a.home_team.id.to_s == params[:id].to_s || a.away_team.id.to_s == params[:id].to_s || params[:id].nil?) %>

			<div class="game" >
				<div class="scheduleBox away newline 
						<% if a.home_team.id.to_s != "8" %>
							teamLink" 
							onclick="window.location.href='/schedule?id=<%= a.home_team.id.to_s %>'"
							title="vs <%= a.home_team.name.upcase %>"
							style="text-decoration:none"
						<% else %>
							bar"
						<% end %>
					><b> <%= a.home_team.name.upcase %> </b>
				</div>

				<% if a.home_score %>
				<div style="cursor:pointer" title="Game Details" onclick="window.location.href='/games/<%= a.id %>'" class="scheduleBox score
						<% if a.home_team.id == 8 && a.home_score > a.away_score %>
						<%=	"win" %>
						<% elsif a.away_team.id == 8 && a.home_score < a.away_score %>
						<%=	"win" %>
						<% elsif a.away_team.id == 8 && a.home_score == a.away_score %>
						<%= "tie" %>
						<% elsif a.home_team.id == 8 && a.home_score == a.away_score %>
						<%= "tie" %>
						<% else %>
						<%= "loss" %>
						<% end %>">
						<b> <%= a.home_score %> </b>
						<b> - </b>
						<b><%= a.away_score %></b> 
						<% if a.stats.any? %>
							<%= image_tag('/assets/ball1.png', width: '25') %>
						<% end %>
				</div>
				<% else %>
				<div class="scheduleBox">
						<%= a.played_at.strftime("%I:%M%p") %> 
				</div>
				<% end %>
				<div class="scheduleBox away 
						<% if a.away_team.id.to_s != "8" %>
							teamLink" 
							onclick="window.location.href='/schedule?id=<%= a.away_team.id.to_s %>'"
							title="vs <%= a.away_team.name.upcase %>"
							style="text-decoration:none"
						<% else %>
							bar"
						<% end %>
					><b> <%= a.away_team.name.upcase %> </b>
				</div>
				<div class="scheduleBox away"><b> 
					<%= a.played_at.to_date.strftime("%b %d, %Y") %> 
				</b></div>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
