<div class="rightPan scheduleContainer">	
	<div class="scheduleHeader" style="width:900px;margin:0 0 10px 0;text-decoration:none;background-color:transparent"> SCHEDULE </div>
	<div>
		<% @seasonEnd = ["2015-05-28","2015-04-03","2015-02-05","2014-11-20","2014-10-2","2014-06-13","2014-04-17","2014-02-20","2013-12-13","2013-10-17","2013-8-22", "2013-6-27","2013-3-7","2013-1-10"]
			@seasonEnd.map! { |date| date.to_datetime }
		%>

		<% @schedule.each do |a| %>

				<% if @seasonEnd.include?(a.played_at.to_date) && params[:id].nil? %>
					<div class="seasonDivider"></div>
				<% end %>

			<% if (a.home_team.id.to_s == params[:id].to_s || a.away_team.id.to_s == params[:id].to_s || params[:id].nil?) %>

			<div class="game" >
				<div class="scheduleBox away newline 
						<% if a.home_team.id.to_s != "8" %>
							teamLink" 
							onclick="window.location.href='/schedule?id=<%= a.home_team.id.to_s %>'"
							title="vs <%= a.home_team.name.upcase %>"
							style="text-decoration:none"
						<% else %>
							bar"
						<% end %>
					><b> <%= a.home_team.name.upcase %> </b>
				</div>

				<% if a.home_score %>
				<div style="cursor:pointer" title="Game Details" onclick="window.location.href='/games/<%= a.id %>'" class="scheduleBox score
						<% if a.home_team.id == 8 && a.home_score > a.away_score %>
						<%=	"win" %>
						<% elsif a.away_team.id == 8 && a.home_score < a.away_score %>
						<%=	"win" %>
						<% elsif a.away_team.id == 8 && a.home_score == a.away_score %>
						<%= "tie" %>
						<% elsif a.home_team.id == 8 && a.home_score == a.away_score %>
						<%= "tie" %>
						<% else %>
						<%= "loss" %>
						<% end %>">
						<b> <%= a.home_score %> </b>
						<b> - </b>
						<b><%= a.away_score %></b> 
						<% if a.stats.any? %>
							<%= image_tag('ball.png', width: '25') %>
						<% end %>
				</div>
				<% else %>
				<div class="scheduleBox">
						<%= a.played_at.strftime("%I:%M%p") %> 
				</div>
				<% end %>
				<div class="scheduleBox away 
						<% if a.away_team.id.to_s != "8" %>
							teamLink" 
							onclick="window.location.href='/schedule?id=<%= a.away_team.id.to_s %>'"
							title="vs <%= a.away_team.name.upcase %>"
							style="text-decoration:none"
						<% else %>
							bar"
						<% end %>
					><b> <%= a.away_team.name.upcase %> </b>
				</div>
				<div class="scheduleBox away"><b> 
					<%= a.played_at.to_date.strftime("%b %d, %Y") %> 
				</b></div>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
