<div class="rightPan teamContainer" style="margin-bottom:100px">

	<div class="teamPadding">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/1'">
		<%= image_tag("flag_romania.png", :class => 'flagSmall') %>
		Marian U
		<%= image_tag("cross.png", :class => 'flagSmall', :title => 'Injured - Est. Return: Feb 2013') %>
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/14'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Sanel S
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/12'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Omar M
	</div>
	<div class="teamSkip newLine">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/4'">
		<%= image_tag("flag_usa.png", :class => 'flagSmall') %>
		Brian T
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/8'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Asmir A
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamMap" style="width:130px" onclick="window.location.href='/players/2'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Alin O
		<%= image_tag("cross.png", :class => 'flagSmall', :title => 'Injured - Est. Return: Unknown') %>
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/6'">
		<%= image_tag("flag_usa.png", :class => 'flagSmall') %>
		Paul B
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/13'">
		<%= image_tag("flag_germany.png", :class => 'flagSmall') %>
		Turker S
		<%= image_tag("cross.png", :class => 'flagSmall', :title => 'Injured - Est. Return: Unknown') %>
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/3'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Sanjin O
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/9'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Asmir P
		<%= image_tag("cross.png", :class => 'flagSmall', :title => 'Injured - Est. Return: Feb 2013') %>
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/7'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Nihad H
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" style="width:130px" onclick="window.location.href='/players/11'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Mirza S
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" onclick="window.location.href='/players/5'">
		<%= image_tag("flag_usa.png", :class => 'flagSmall') %>
		Brian M
	</div>
	<div class="teamSkip newLine">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamMap" style="width:130px" onclick="window.location.href='/players/10'">
		<%= image_tag("flag_bosnia.png", :class => 'flagSmall') %>
		Salmir M
	</div>
</div>
