<div class="rightPan teamContainer" id="teamContainer" style="z-index:-1;margin-bottom:100px">

	<div class="teamPadding">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_romania.png", :class => 'flagSmall')+raw(" Marian U ")+image_tag("cross.png", :class => 'flagSmall'), "/players/1", class: "teamMap", remote: true , :title => 'Injured - Toe Fracture - Est. Return: June 2014' %> 
	<div class="teamSkip">
	</div>
	<%=	link_to image_tag("flag_usa.png", :class => 'flagSmall')+raw(" Farbod S "), "/players/17", class: "teamMap" , remote: true %> 
	<div class="teamSkip">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Omar M "), "/players/12", class: "teamMap", remote: true  %> 
	<div class="teamSkip newLine">
	</div>
	<%=	link_to image_tag("flag_usa.png", :class => 'flagSmall')+raw(" Brian T "), "/players/4", class: "teamMap", remote: true  %> 
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Asmir A "), "/players/8", class: "teamMap", remote: true  %> 
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Alin O "), "/players/2", class: "teamMap", remote: true %> 
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_usa.png", :class => 'flagSmall')+raw(" Paul B "), "/players/6", class: "teamMap", remote: true  %> 
	<!--%=	link_to image_tag("flag_germany.png", :class => 'flagSmall')+raw(" Turker S "), "/players/13", class: "teamMap", remote: true %--> 
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Sanjin O "), "/players/3", class: "teamMap", remote: true  %> 
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Asmir P ")+image_tag("cross.png", :class => 'flagSmall'), "/players/9", class: "teamMap", remote: true , :title => 'Injured - Knee Sprain - Est. Return: June 2014'%> 
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkip">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Nihad H "), "/players/7", class: "teamMap", remote: true  %> 
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw(" Mirza S "), "/players/11", class: "teamMap", remote: true %> 
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_usa.png", :class => 'flagSmall')+raw(" Brian M "), "/players/5", class: "teamMap", remote: true  %> 
	<div class="teamSkip newLine">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkip">
	</div>
	<div class="teamSkipQuarter">
	</div>
	<%=	link_to image_tag("flag_bosnia.png", :class => 'flagSmall')+raw("Salmir M"), "/players/10", class: "teamMap", remote: true  %> 
</div>
<div class="leftPan">
</div>
<div class="rightPan mainContainer" id="bottomContainer" style="width:900px;padding:49px;margin-top:-150px">
	<h3 id="restoreButton">SELECT PLAYER</h2>
</div>
