<!DOCTYPE html>
<html>
  <head>
    <title> Fc Bar United - Home</title>
    <%= stylesheet_link_tag "custom-big", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Romanesco' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
	
    <div class="container">
		<div class="leftPan logo">
			<%= link_to image_tag("m1.gif", width: "120"), root_path %>
		</div>
		<div class="rightPan controls">
					<%= link_to "Home", root_path , :class => "navLink" %>
					<%= link_to "Schedule", schedule_path , :class => "navLink" %>
					<%= link_to "Team", team_path , :class => "navLink" %>
					<%= link_to "Feed", feed_path , :class => "navLink" %>
					<%= link_to "About", about_path , :class => "navLink" %>
		</div>
		<div class="leftPan"></br>
		</div>
	    	<%= yield %>
    </div>
  </body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41884646-2', 'brrtr.com');
  ga('send', 'pageview');

</script>
