<!DOCTYPE html>
<html>
  <head>
    <title> Fc Bar United - Home</title>
    <%= stylesheet_link_tag "custom-small", media: "(max-width:800px)",
                                           "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "custom-big", media: "(min-width:801px)",
                                           "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
	
    <div class="container">
		<div class="leftPan logo">
			<%= image_tag('m1.gif', width: '120') %>
		</div>
		<div class="rightPan">
			<div id="controls">
					<%= link_to "SCHEDULE", schedule_path , :class => "navLink" %>
					<%= link_to "TEAM".upcase, team_path , :class => "navLink" %>
					<%= link_to "FEED", feed_path , :class => "navLink" %>
				</ul>
			</div>
		</div>
		<div class="leftPan"></br>
		</div>
		<div class="rightPan">
	    	<%= yield %>
		</div>
    </div>
  </body>
</html>
