<!DOCTYPE html>
<html>
  <head>
    <title> Fc Bar United - Home</title>
    <%= stylesheet_link_tag "custom-big", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Ewert' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Romanesco' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
	
    <div class="container">
		<div class="leftPan logo">
			<%= link_to image_tag("m1.gif", width: "120"), root_path %>
		</div>
		<div class="rightPan controls">
					<%= link_to "Home", root_path , :class => "navLink" %>
					<%= link_to "Schedule", schedule_path , :class => "navLink" %>
					<%= link_to "Team", team_path , :class => "navLink" %>
					<%= link_to "Feed", feed_path , :class => "navLink" %>
					<%= link_to "About", about_path , :class => "navLink" %>
		</div>
		<div class="leftPan"></br>
		</div>
	    	<%= yield %>
    </div>
  </body>
</html>
